{% extends "base.html" %}

{% block content %}
<div class="flex">
    <div class="m-auto">
        <h1>AdEx AdView Manager by <a href="https://ambire.com">Ambire</a></h1>
        <h2>Preview the capabilities and usage of the AdView Manager</h2>

        <ul>
            <li><a href="/preview">Preview form with custom AdSlot response from platform</a></li>
            <li><a href="/preview/ad">Preview an Image Ad</a></li>
            <li><a href="/preview/video">Preview a Video Ad</a></li>
        </ul>
    </div>
</div>
{% endblock %}